
@{
    ViewBag.Title = "Origins";
}

<h2>Origins</h2>
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <h3>It started with a Bean</h3>
        <p>
            According to legend, ancestors of today's Oromo people in a region of Kaffa in Ethiopia were believed to have
            been the first to recognize the energizing effect of the coffee plant.However, there is no direct evidence
            that has been found earlier than the 15th century indicating where in Africa coffee first grew or who among the
            native populations might have used it as a stimulant.The story of Kaldi, the 9th-century Ethiopian goatherd
            who discovered coffee when he noticed how excited his goats became after eating the beans from a coffee plant,
            did not appear in writing until 1671 and is probably apocryphal. Other accounts attribute the discovery of coffee
            to Sheikh Omar. According to an ancient chronicle (preserved in the Abd-Al-Kadir manuscript), Omar, who was known
            for his ability to cure the sick through prayer, was once exiled from Mocha in Yemen to a desert cave near Ousab
            (modern-day Wusab, about 90 kilometres (56 mi) east of Zabid).Starving, Omar chewed berries from nearby
            shrubbery but found them to be bitter. He tried roasting the seeds to improve the flavor, but they became hard.
            He then tried boiling them to soften the seed, which resulted in a fragrant brown liquid. Upon drinking the liquid
            Omar was revitalized and sustained for days. As stories of this "miracle drug" reached Mocha, Omar was asked to
            return and was made a saint.
        </p>

    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <h5>
            @Html.ActionLink("Back to the Blender", "Index")
        </h5>
    </div>
</div>

